/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'CustomFont', sans-serif;
    font-size: 1.2em;
}

/* Font Face */
@font-face {
    font-family: 'CAESARDRESSING-REGULAR';
    src: url('./assets/fonts/CAESARDRESSING-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Footer Styling */
.footer {
    color: white;
    text-align: center;
    padding-top: 4rem;
}

/* Logo Styling */
.logo-image {
    width: 95px;
    height: 95px;
}

/* Social Icons Styling */
.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icon-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

    .social-icons img:hover {
        transform: scale(1.2);
    }

/* Bear Image Styling */
.bear {
    height: 200px;
}

/* Partner Section */
.partner {
    font-family: 'CAESARDRESSING-REGULAR', sans-serif;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    padding: 20px;
    text-align: center;
}

.partner-logo {
    width: 100px;
}

/* Home Page */
.home-page {
    position: relative;
    background-color: #39678f;
    color: white;
    overflow: hidden;
}

    /* Pseudo-element for background image */
    .home-page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('./assets/images/noppa_bg.png');
        background-size: 250px;
        background-repeat: repeat;
        background-attachment: fixed;
        opacity: 0.1;
        z-index: 1;
    }

    .home-page > * {
        position: relative; /* Ensures child elements are above the pseudo-element */
        z-index: 2; /* Brings child elements above the background */
    }

.image {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem 1rem;
}

/* Instagram Section */
.instagram {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    max-width: 1080px;
}

.instagram-feed {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

    .instagram-feed iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

/* Container Styling */
.container {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 980px; /* Limit the maximum width */
    margin: 0 auto;
}

.flex-item {
    flex: 1; /* This allows items to grow and fill the space */
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    color: white;
    background-image: url('./assets/images/nav-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .navbar.expanded {
        height: 20rem;
    }

/* Logo Text Styling */
.logo {
    display: flex;
    font-size: 2rem;
}

.logo-text {
    text-align: center;
    font-family: 'CAESARDRESSING-REGULAR', sans-serif;
}

/* Navbar Links */
.nav-links {
    display: flex;
    list-style: none;
    padding: 2.5rem 0rem;
}

    .nav-links li {
        margin: 0 1rem;
        font-size: 1.2rem;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        
    }

        .nav-links a:hover {
            text-decoration: underline;
        }

.nav-link {
    color: white; /* Match the link color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2rem; /* Match font size with nav links */
    margin: 0 1rem; /* Same margin as nav links */
}

    .nav-link:hover {
        color: white;
        text-decoration: underline;
    }

/* Buttons */
button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

    button:hover {
        text-decoration: none;
    }

/* Introduction Text */
.introduction-text {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

    .introduction-text h1 {
        margin-bottom: 1.5rem;
    }

    .introduction-text h2 {
        margin-bottom: 1.5rem;
        font-family: 'CAESARDRESSING-REGULAR', sans-serif;
    }

    .introduction-text p {
        margin: 0.5rem 0;
    }

/* Hamburger Menu for Mobile */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 2rem 0rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Mobile Menu */
.nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    right: 0;
    width: 100%;
    text-align: center;
}

    .nav-links-mobile li {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    .nav-links-mobile a {
        color: white;
        text-decoration: none;
        padding: 10px 0;
    }

        .nav-links-mobile a:hover {
            text-decoration: underline;
        }


        .nav-links a:hover {
            color: white;
            text-decoration: underline;
        }

/* Responsive Design for Mobile */
@media screen and (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

/* Scroll To Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.scroll-button {
    background-color: #222;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}

    .scroll-button:hover {
        background-color: #333;
    }

/* Partners Section */
.partners-section {
    padding: 20px;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.partner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
}

    .partner-card:hover {
        transform: scale(1.1);
    }

.partner-logo {
    height: 140px;
    width: auto;
    object-fit: contain;
    border-radius: 8px;
}

h3 {
    margin: 10px 0;
    font-size: 1.1em;
}

/* Partner Socials */
.partner-socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .partner-socials a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
        transition: color 0.2s;
    }

    .partner-socials img {
        width: 30px;
        height: 30px;
        transition: transform 0.2s;
    }

        .partner-socials img:hover {
            transform: scale(1.1);
        }

    .partner-socials a:hover {
        color: #0056b3;
    }

/* Social Links */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

    .social-links a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
        font-size: 1.2em;
    }

    .social-links img {
        width: 30px;
        height: 30px;
        transition: transform 0.2s;
    }

        .social-links img:hover {
            transform: scale(1.1);
        }

/* Skeleton Loading Animation */
.skeleton {
    background-color: #ccc;
    height: 20px;
    width: 100%;
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-color: #eee;
    }

    50% {
        background-color: #ddd;
    }

    100% {
        background-color: #eee;
    }
}
